/*css reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*css declarations*/
body {
	background-image: url(../images/bg.jpeg);
	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	color: #f2f2f2; /*off white*/
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
	/*background-attachment: fixed;*/ /*to achieve parallax effect*/
	background-color: #f2f2f2;
}

html {
	scroll-behavior: smooth;
}

.txt-bl {
	color: black;
}

[class*="col-"] {
	border: 5px solid transparent;
	/*border: 3px solid yellow;*/
	/*float: left;*/
}

.container {
	max-width: 960px; /*so that the layout wont expand extensively in very wide displays*/
	margin: 0 auto;
}

.header {
	height: 100px;
	text-align: right;
	position: relative;
}

.navheader {
	position: absolute;
	bottom: 40%;
	right: 0;
}

.navlinks {
	text-decoration: none;
	color: #f8f9fa;
	letter-spacing: 1px;
	padding-bottom: 3px;
	margin: 0px 0px 25px 25px;
}

.navlinks:hover {
	text-decoration: none;
	color: #f8f9fa;
	border-bottom: 1px solid #f8f9fa;
}

.main {
	min-height: 550px;
	/*min-height: 500px;*/
	/*border: 3px solid yellow;*/
}

.main2 {
	min-height: 100vh;
	/*border: 3px solid yellow;*/
}

.landingleft {
	padding-top: 20px;
}

#idrad {
	height: 200px;
	width: 215px;
	border-radius: 50%; /*makes the photo round*/
}

#radlogolanding {
	height: 150px;
	width: 150px;
}

#landingform {
	background-color: rgba(92,184,92, 0.7); /*bootstrap green*/
	border-radius: 10px;
	padding: 20px;
}

.nav-active {
	border-bottom: 1px solid #f8f9fa;
}

.jumbotron {
	background-color: rgba(233, 236, 239, 0.9);
	color: black;
	padding: 2.5rem 3rem;
}

.testimonials-section {
	min-height: 200px;
}

.card-tes {
	height: 100%;
	background-color: #669999;
	border: 3px outset #f2f2f2;
}

#client-pos {
	color: black;
	font-size: 12px;
	float: left;
}

#client-tes {
	color: black;
	font-size: 11px;
	float: right;
}

#client-pic {
	height: 60px;
	width: 60px;
	/*border: 1px solid #333;*/
	border: 1px solid #f2f2f2;
	/*background-color: #f2f2f2;*/
	border-radius: 2px;
	margin-right: 5px;
	padding: 3px;
	float: left;
}

.picholder {
	float: left;
}

.pic-who {
	height: 300px;
	width: 250px;
	padding-right: 15px;
	padding-bottom: 10px;
}

.connect {
	background-color: rgba(233, 236, 239, 0.9);
	border-radius: 10px;
	padding:15px;
	min-height: 120px;
}

.connect-ht {
	min-height: 390px;
}

.connect-text {
	font-size: 0.85em;
}

.social-icon {
	height: 38px;
	/*width: 45px;*/
	width: auto;
	margin: 0 10px;
}

.gallery {
	/*background-color: rgba(233, 236, 239, 0.9);*/
	background-color: white;
	/*border-radius: 10px;*/
	padding: 20px;
	min-height: 120px;
}

.carousel-width {
	width: 70%;
	margin: 0 auto;
}

#carouselExampleIndicators {
	height: 60vh;
}

#carouselExampleIndicators img {
	height: 60vh;
	max-height: 60vh;
}

#carouselExampleIndicators-2 {
	height: 60vh;
}

#carouselExampleIndicators-2 img {
	height: 60vh;
	max-height: 60vh;
}

.gal-caption {
	font-size: 0.9em;
}

.customfont {
	font-family: 'Permanent Marker', cursive;
}	

/*fade-overlay start****************/
.fade-container {
  position: relative;
  /*width: 100%;*/
  width: 300px;
  margin: 0 auto;
}

.fade-image {
  display: block;
  /*width: 100%;*/
  width: 300px;
  /*height: auto;*/
  height: 420px;
}

.fade-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*height: 100%;*/
  /*width: 100%;*/
  width: 300px;
  height: 420px;
  opacity: 0;
  transition: .5s ease;
  /*background-color: #008CBA;*/
  /*background-color: rgba(0, 140, 186, 0.8);*/
  background-color: rgba(102, 153, 153, 0.8);
}

.fade-container:hover .fade-overlay {
  opacity: 1;
}

.fade-text {
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/*fade-overlay end****************/

.makeblue {
	/*color: #008CBA;*/
	color: #669999;
}

.makegreen {
	color: rgb(92,184,92);
}

.underline {
	text-decoration: underline;
}

.adjustlh {
	line-height: 2;
}

.sub-prog {
	color: #f2f2f2;
}

.sub-prog:hover {
	text-decoration: none;
	color: rgb(92,184,92);
}

.footertxt {
	font-size: 0.8em;
}

.btncontact {
	width: 300px;
}

.form-mg {
  	margin-bottom: 0.3rem;
}

/*back to top*/

/*back to top*/

#myBtn {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  opacity: 0.5;
}



/*MEDIA QUERIES*/

/* Mobile */
@media only screen and (max-width: 400px) {
	#if-fixed {
		background-attachment: fixed; /*to achieve parallax effect*/
	}

	#nav-lg {
		display: none;
	}

	.formholder {
		margin-bottom: 2em;
	}

	.jumbotron-section {
		margin: 0 auto;
		width: 90%;
		margin-top: 2em;
	}

	.reframe-tag {
		font-size: 3em;
	}

	.jumbo-lead {
		font-size: 0.9em;
	}

	.txt-wht-center {
		color: #f2f2f2;
		text-align: center;
	}

	.picholder {
		float: none;
		text-align: center;
	}

	.card-text {
		font-size: 0.8em;
	}

	.makewht {
		color: #f2f2f2;
	}

	.hashtag {
		font-size: 19px;
	}

	.fade-container {
	  width: 280px;
	}

	.fade-image {
	  width: 280px;
	  height: 400px;
	}

	.fade-overlay {
	  width: 280px;
	  height: 400px;
	}

	.sub-prog-text {
		font-size: 1.15em;
	}

	.btncontact {
		width: 250px;
	}

	.connect-mg-top {
		margin-top: 20px;
	}

	.connect-mg-btm {
		margin-bottom: 20px;
	}

	.carousel-width {
		width: 100%;
	}
}

/* Tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {
	#if-fixed {
		background-attachment: fixed; /*to achieve parallax effect*/
	}

	#nav-lg {
		display: none;
	}

	.formholder {
		margin-bottom: 2em;
	}

	.jumbotron-section {
		margin: 0 auto;
		width: 90%;
		margin-top: 2em;
	}

	.jumbo-lead {
		font-size: 1em;
	}

	.txt-wht-center {
		color: #f2f2f2;
		text-align: center;
	}

	.picholder {
		float: none;
		text-align: center;
	}

	.card-text {
		font-size: 0.8em;
	}

	.makewht {
		color: #f2f2f2;
	}

	.add-padding1 {
		padding-top: 45px;
	}

	.add-padding2 {
		padding-top: 25px;
	}

	.connect-mg-top {
		margin-top: 20px;
	}

	.connect-mg-btm {
		margin-bottom: 20px;
	}

	.carousel-width {
		width: 100%;
	}
}

/* Desktop */
@media only screen and (min-width: 961px) {
	#nav-mbl {
		display: none;
	}

	.jumbo-lead {
		text-align: justify;
	}

	.btnsize {
		width: 345px;
		font-size: 1.25em;
	}

	.add-margin {
		margin-top: 35px;
	}



	footer {
		max-width: 960px;
		/*so that the layout wont expand extensively in very wide displays*/
		/*width: 100%;*/
		margin: 0 auto;
		/*position: absolute;*/
		/*bottom: 0;*/
		/*border: 1px solid white;*/
	}
}